.parallax-container {
  height: 550px;
}

.collection a.collection-item {
  color: #9c27b0;
}

.membros .collection-item:hover {
  background-color: #ba68c8;
}

.labs .collection-item:hover {
  background-color: white;
}

.labs .collection-item a,
.membros .collection-item a {
  display: block;
  padding: 10px 20px 20px 20px;
  color: black;
}

.labs .collection-item a,
.membros .collection-item span {
  color: black;
  font-size: 20px;
}

.collection .collection-item.avatar.avatar-us:not(.circle-clipper) > .circle,
.collection .collection-item.avatar.avatar-us :not(.circle-clipper) > .circle {
  position: absolute;
  width: 50px;
  height: 50px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.collection .collection-item.avatar.avatar-lab1:not(.circle-clipper) > .circle,
.collection .collection-item.avatar.avatar-lab1:not(.circle-clipper) > .circle {
  position: absolute;
  width: 50px;
  height: 50px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}